body, html {
    height: 100%;
/* 	font-family: 'Quicksand', sans-serif; */
	color: #24292e;
}
img
{
	max-width: 100%;
}
a
{
	color: #008fff;
}
a:hover
{
	color: #008fff;
}
.sideBarLv1
{
	font-weight: bold;
	color:rgba(0,0,0,.70);	
}
.sideBarLv1:hover
{
	font-weight: bold;
	color:rgba(0,0,0,.70);	
}
.sideBarLv2
{
	color: black;	
}
.sideBarLv2:hover
{
	color: black;
}

.navbar {
/* 	font-family: 'PT Sans Caption', sans-serif; */
    margin-bottom: 0px;
    border-radius:0px;
    font-size: 15px;
    color: white;
    background-color: black;
}

.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #c8c9ca;
}

.nav-link{
	 color: white;
}
.nav-link : hover{
	 color: white;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #c8c9ca;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #c8c9ca;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #c8c9ca;
    background-color: #D5D5D5;
}

.btn-success {
    color: #fff;
    background-color: #00d0b0;
    border-color: #00b79a;
}
.btn-success:hover {
    color: #fff;
    background-color: #009d85;
    border-color: #009d85;
}
.btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
}
.btn-secondary:hover {
    color: #008fff;
    background-color: #009d85;
    border-color: #009d85;
}