body, html {
    height: 100%;
/* 	font-family: 'Quicksand', sans-serif; */
/* 	color: #24292e; */	
	font-family: 'Quicksand',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
img
{
	max-width: 100%;
}

blockquote {
    padding: 0 1em;
/*     color: #6a737d; */
/* 	border:1px solid black; */
	background-color: #e8f5ff;
    border-left: 0.25em solid #008fff;
}

blockquote > p
{
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}

.coloredBackground
{
	background-image: linear-gradient(to right, #f3f3f3, #fffffe);
}