<nav class="navbar navbar-default" >
	
	<div class="container">	
	
		<div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-bar-1-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>			

			
			


<!-- 	      	<a class="btn btn-default navbar-right navbar-btn visible-xs-inline-block" href="https://www.weelgo.com/weelgo-portal/cl?cl=8950a4e1-751e-4f37-beaa-ac006cbaccb8&objectId=folder_folder&objectDatabaseId=5341478" role="button">Demo</a> -->

		<a href="/weelgo-portal/home" ><img src="img/logo_white_35x35.png" style="margin-right: 5px;margin-left: 5px;margin-top: 7px;"></a>
	    </div>
	    
	     <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="nav-bar-1-collapse-1">	      
			
			
			<ul class="nav navbar-nav navbar-left">
				<li><a href="/weelgo-portal/features" >Fonctionnalités</a></li>		

				<li><a href="/weelgo-portal/enterprise" >Entreprise</a></li>
				<li><a href="/weelgo-portal/pricing" >Tarifs</a></li>
				<li class="hidden-sm"><a href="/weelgo-portal/contact_us" >Contact</a></li>
				<li class="dropdown visible-xs">
					          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Langue <span class="caret"></span></a>
					          <ul class="dropdown-menu" role="menu">	          
					          	<li><a href="/weelgo-portal/home?locale=fr_FR">Français</a></li><li><a href="/weelgo-portal/home?locale=en_US">English</a></li><li><a href="/weelgo-portal/home?locale=zh_CN">中文</a></li>
					          </ul>
					        </li>
			</ul>

			


<!-- 	      	<a class="btn btn-default navbar-right navbar-btn hidden-xs" href="https://www.weelgo.com/weelgo-portal/cl?cl=8950a4e1-751e-4f37-beaa-ac006cbaccb8&objectId=folder_folder&objectDatabaseId=5341478" role="button">Demo</a> -->


	      
		      <ul class="nav navbar-nav navbar-right">		     
		       
		         

				 		     
		     	 <li><a href="/weelgo-portal/create_account">Créer un compte</a></li>
		     	 <li><a href="/weelgo-portal/login">S'identifier</a></li>
		     	 
		      </ul>	      
	    </div><!-- /.navbar-collapse -->		
	</div>
</nav>