
<div style="margin-bottom: 30px;">
	<div
		style="text-align: center; border-bottom: 1px solid #dedede; margin-bottom: 30px; background-color: white;">

		<a href="{{ site.baseurl }}/fr/"> <img alt="Weelgo logo"
			src="{{ site.baseurl }}/img/LOGO_NO_SUBTEXT_WEELGO_FINAL_V1.svg"
			style="height: 90px; margin-top: 25px; margin-bottom: 25px;">
		</a>
	</div>
	<div>
		<table style="margin: 0 auto; width: 200px;">
			<tr>
				<td
					style="background-color: #1db9db; border: 1px solid #eaeaea; border-top: 0px solid white;"><div
						style="height: 3px;"></div></td>
				<td
					style="background-color: white; border: 1px solid #eaeaea; border-top: 0px solid white;"><div
						style="height: 3px;"></div></td>
				<td
					style="background-color: #f84e53; border: 1px solid #eaeaea; border-top: 0px solid white;"><div
						style="height: 3px;"></div></td>
			</tr>
		</table>
	</div>
</div>