<!doctype html>
<html lang="fr">
<head>{% include header.html %}


</head>
<body  class="coloredBackground">
	{% include docs-navbar.html %}

	{% for lev1 in site.data.sitemap_fr %}
		{% if page.id == lev1.id %}
			{% assign currentData=lev1 %}
		{% endif %}
	{% endfor %}
	<div class="container">

		<div>
			<h1 class="text-center" style="margin-bottom: 20px;">{{ currentData.name2 }}</h1>

			<div class="lead text-center"
				style="margin-top: 20px; margin-bottom: 10px;">{{ currentData.description }}</div>
			<div style="margin-top: 10px; margin-bottom: 40px;text-align: center;"><a href="{{ site.baseurl }}/fr/" style="margin-right: 10px;"><i class="fas fa-arrow-left" style="margin-right: 7px;"></i>Retour</a></div>
		</div>
		
		<div class="lead text-center" style="font-weight: 500;margin-bottom: 30px;font-size: 1.5em;">Etudes de cas</div>
		<div class="card-deck" style="margin-bottom: 36px;">
		{% for card in currentData.studyCases %}
				<div class="card text-center">
				  {% if card.image != '' %}
				  	<img src="img/{{ card.image }}" class="card-img-top">
				  {% endif %}
				  <div class="card-body">
				    <p class="card-title">{{ card.name }}</p>				    
				  </div>
				  <div  class="card-footer" style="background-color: white;border-top: 0px solid white;">
				  	<a href="{{ card.path }}" class="stretched-link">Consulter <i class="fas fa-arrow-right" style="margin-left: 7px;"></i></a>
				  </div>
				</div>
		{% endfor %}
		</div>
		
		<div class="lead text-center" style="font-weight: 500;margin-bottom: 30px;font-size: 1.5em;">Les articles Weelgo</div>

		{% for card in currentData.articles %}
		<div class="row">
			<div class="card mb-3" style="max-width: 540px;margin-left: auto;margin-right: auto;">
				<div class="row no-gutters">
					<div class="col-md-4">
						<img src="img/{{ card.image }}" class="card-img">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a wider card with supporting
								text below as a natural lead-in to additional content. This
								content is a little bit longer.</p>
							<p class="card-text" style="text-align: right;">
								<small class="text-muted"><a href="{{ card.path }}" class="stretched-link">Lire <i class="fas fa-arrow-right" style="margin-left: 7px;"></i></a></small>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
		{% endfor %}
		
	</div>

	

	{% include scripts.html %}
</body>
</html>
