<!doctype html>
<html lang="fr">
<head>{% include header.html %}


</head>
<body  class="coloredBackground">
	{% include docs-navbar.html %}

	{% for lev1 in site.data.sitemap_fr %}
		{% if page.id == lev1.id %}
			{% assign currentData=lev1 %}
		{% endif %}
	{% endfor %}
	<div class="container">

		<div>
			<h1 class="text-center" style="margin-bottom: 20px;">{{ currentData.name2 }}</h1>

			<div class="lead text-center"
				style="margin-top: 20px; margin-bottom: 10px;">{{ currentData.description }}</div>
			<div style="margin-top: 10px; margin-bottom: 40px;text-align: center;"><a href="{{ site.baseurl }}/fr/" style="margin-right: 10px;"><i class="fas fa-arrow-left" style="margin-right: 7px;"></i>Retour</a></div>
		</div>	
		{% if currentData.hasCategory == 'true' %}
			{% for parts in currentData.sub %}
			<div class="lead text-center" style="font-weight: 500;margin-bottom: 30px;font-size: 1.5em;">{{ parts.name }}</div>
			<div class="row" style="margin-bottom: 36px;">				
				{% for card in parts.sub %}		
				{% if card.enable == 'true' %}	
				<div class="cold">	
				<div class="card">
				  {% if card.image != '' %}
				  	<img src="img/{{ card.image }}" class="card-img-top">
				  {% endif %}
				  <div class="card-body">
				    <p class="card-text">{{ card.description }}</p>
<!-- 				    <a href="{{ card.path }}" class="btn btn-primary btn-sm stretched-link">Consulter <i class="fas fa-arrow-right" style="margin-left: 7px;"></i></a> -->
				  </div>
				</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>	
			{% endfor %}
		{% else %}
			<div class="card-columns">	
			{% for card in currentData.sub %}
			{% if card.enable == 'true' %}
			<div class="card">					
			  {% if card.image != '' %}
				<img src="img/{{ card.image }}" class="card-img-top">
			  {% endif %}
			  <div class="card-body">
			    <p class="card-text">{{ card.description }}</p>			    
			    <a href="{{ card.path }}" class="btn btn-primary btn-sm stretched-link">Consulter <i class="fas fa-arrow-right" style="margin-left: 7px;"></i></a>
			  </div>
			</div>		
			 {% endif %}	
			{% endfor %}
			</div>	
		{% endif %}
	</div>


	{% include scripts.html %}
</body>
</html>
