<!doctype html>
<html lang="fr">
<head>{% include header.html %}
</head>
<body class="coloredBackground">
	
	
	{% include docs-navbar.html %}
	
	
	
		<div class="container" style="margin-bottom: 32px;">     
		      <h1 id="content" style="text-align: center;">{{ page.title }}</h1>
		      <div style="margin-top: 20px;text-align: center;"><a href="../" style="margin-right: 10px;"><i class="fas fa-arrow-left" style="margin-right: 7px;"></i>Retour</a> | <span style="margin-left: 10px;font-style: italic;">Estimation : {{ page.readingEstimation }} minutes</span></div>     
	    </div>
	
	<div class="container" style="background-color: white;border: 1px solid #dcdcdc;padding: 40px;margin-bottom: 100px;">     
	      <div style="margin-bottom:30px;" class="articleContent">
	      {{ content }}
	      </div>
    </div>
	
	
	 {% include scripts.html %}
</body>
</html>
