<!doctype html>
<html lang="fr">
<head>{% include header.html %}
</head>
<body>
	
	
	{% include docs-navbar.html %}
	
	<div class="container-fluid">
      <div class="row flex-xl-nowrap"">
        <div class="col-12 col-md-3 col-xl-2" style="margin-top: 70px;border-right: 1px solid rgba(0, 0, 0, 0.1)">
			  {% for lev1 in site.data.sitemap_fr %}
			  	<div>
			  		<a href="{{ site.baseurl }}/fr/{{ lev1.path }}">{{ lev1.name }}</a>
			  		{% for lev2 in lev1.sub %} 
			  		<div>
			  			<a href="{{ site.baseurl }}/fr/{{ lev1.path }}/{{ lev2.path }}">{{ lev2.name }}</a>
			  		</div>
			  		{% endfor %} 	
			  	</div>
			 	
			{% endfor %}
        </div>
        <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role="main" style="margin-top: 70px;">
          <h1 style="font-size: 48px;font-family: Segoe UI Light;" id="content">{{ page.title }}</h1>
          <p style="font-size: 24px;font-family: Segoe UI Light;">{{ page.description }}</p>
          
          {{ content }}
        </main>
     
        
      </div>
    </div>
	
	
	 {% include scripts.html %}
</body>
</html>
