<!doctype html>
<html lang="fr">
<head>{% include header.html %}

<script type="text/javascript">
  
	{% if page.youtubeLink %}

	{% else %}
 
	document.addEventListener('DOMContentLoaded', function() {
	  TableOfContents();
	}
	);
  	
	{% endif %}
  
  function TableOfContents(container, output) {
	  var toc = "";
	  var level = 0;
	  var container = document.querySelector(container) || document.querySelector('#contents');
	  var output = output || '#toc';

	  container.innerHTML =
	      container.innerHTML.replace(
	    		  /<h([\d]) id="([^"]+)">([^<]+)<\/h([\d])>/gi,
	          function (str, openLevel,idAnchor, titleText, closeLevel) {
	              if (openLevel != closeLevel) {
	                  return str;
	              }

	              openLevel--;
	              if (openLevel > level) {
	                  toc += (new Array(openLevel - level + 1)).join('<ul>');
	              } else if (openLevel < level) {
	                  toc += (new Array(level - openLevel + 1)).join('</li></ul>');
	              } else {
	                  toc += (new Array(level+ 1)).join('</li>');
	              }

	              level = parseInt(openLevel);

	              
	              toc += '<li><a href="#' + idAnchor + '">' + titleText
	                  + '</a>';

	              return str;
	          }
	      );

	  if (level) {
	      toc += (new Array(level + 1)).join('</ul>');
	  }
	  document.querySelector(output).innerHTML += toc;
	  };
  
  </script>

</head>
<body>
	
	
	{% include docs-navbar.html %}
	
	<div class="container-fluid">
      <div class="row flex-xl-nowrap"">
        <div class="col-12 col-md-2 col-xl-2" style="padding-top: 62px;border-right: 1px solid rgba(0, 0, 0, 0.2);padding-left: 0px;padding-right: 0px;"> 
        	  {% assign pageTitle=page.title %}
        	  {% assign pageDescription=page.description %}   
        	  {% assign subLevelIndex=0 %}  
        	  {% if page.id == lev1.id %}
        	  		{% assign pageTitle=lev1.name %}
			  		{% assign pageDescription=lev1.description %}
        	  {% endif %}
			  {% for lev1 in site.data.sitemap_fr %}			    
			  	<div>
			  		<div style="padding:10px;font-weight:bold;background-color:{{ lev1.backgroundColor}}; color: {{ lev1.color }};">{{ lev1.name }}</div>
<!-- 			  		<a class="sideBarLv1" href="{{ site.baseurl }}/fr/{{ lev1.path }}">{{ lev1.name }}</a> -->
					<div style="padding: 15px;">
					{% if lev1.soon and lev1.soon == 'true' %}
						<span style="font-style: italic;">Bientôt disponible</span>					
					{% else %}
				  		{% for lev2 in lev1.sub %} 
				  			{% if lev2.enable == 'true' %}
					  			{% if page.id == lev2.id %}
					  				{% assign pageTitle=lev2.name %}
					  				{% assign pageDescription=lev2.description %}
								{% endif %}
						  		<div style="padding-left: 0px;">
						  			<a class="sideBarLv2" {% if page.id == lev2.id %}style="font-weight: bold;"{% endif %} href="{{ site.baseurl }}/fr/{{ lev1.path }}/{{ lev2.path }}">{{ lev2.name }}</a>
						  		</div>			  		
						  		{% if page.group and page.group == lev2.group %}
						  		{% assign lvl2Elem=lev2 %} 
						  		{% assign lvl1Path=lev1.path %}
						  			<div style="margin-bottom: 10px;">
						  				{% assign loopIndex=0 %}
								  		{% for lev3 in lev2.sub %} 
									  		{% if page.id == lev3.id %}
									  			{% assign subLevelIndex3=loopIndex | plus:1 %}
									  			{% assign pageTitle=lev2.name | append : ' - Etape ' | append : subLevelIndex3 | append : ' : ' | append : lev3.name %}
									  			{% assign pageDescription=lev3.description %}
									  			{% assign subLevelIndex=loopIndex %}
									  		{% endif %}
									  		<div style="padding-left: 20px;">
									  			<a class="sideBarLv2" {% if page.id == lev3.id %}style="font-weight: bold;"{% endif %} href="{{ site.baseurl }}/fr/{{ lev1.path }}/{{ lev3.path }}">Etape {{ loopIndex | plus:1 }} : {{ lev3.name }}</a>
									  		</div>
									  		{% assign loopIndex = loopIndex | plus:1 %}
								  		{% endfor %} 
							  		</div>
							  	{% endif %}
							 {% endif %}
				  		{% endfor %}
			  		{% endif %}
			  		</div> 	
			  	</div>
			 	
			{% endfor %}
        </div>
        <main class="col-12 col-md-7 col-xl-7 py-md-3 pl-md-5" role="main" style="margin-top: 70px;">
		  <div style="margin-bottom: 40px;">        
	          <h1 style="font-size: 35px;font-family: Segoe UI Light;font-weight: bold;" id="content">{{ pageTitle }}</h1>
	          <div style="font-style: italic;margin-top: 20px;">Estimation : {{ page.readingEstimation }} minutes</div>
	          {% if lvl2Elem and lvl1Path %}
		            <div class="btn-group" role="group" aria-label="" style="margin-top: 10px;">
		            {% assign loopIndex=0 %}
		            {% assign nextIndex = subLevelIndex | plus:1 %}
		          	{% for lev3 in lvl2Elem.sub %}
		          		
		          		{% if loopIndex==nextIndex%}
		          			{% assign nextLevel = lev3 %}
		          			{% assign nextLevelPath = site.baseurl | append : '/fr/' | append : lvl1Path | append : '/' | append : lev3.path "%}
		          		{% endif %}
		          		<a href="{{ site.baseurl }}/fr/{{ lvl1Path }}/{{ lev3.path }}" class="btn {% if loopIndex == subLevelIndex %}btn-success{% else %}btn-secondary{% endif %} btn-md">{{ loopIndex | plus:1 }} : {{ lev3.name }}</a>
		          		{% assign loopIndex = loopIndex | plus:1 %}
		          	{% endfor %}
		          	</div> 
	          {% endif %}
	          <p style="font-size: 19px;font-family: Segoe UI Light;margin-top: 20px;">{{ pageDescription }}</p>
          </div>
          <div id="contents">
           {% if page.youtubeLink %}
           		<div class="d-none d-xl-block"><iframe id="presVideo" width="900" height="506" src="https://www.youtube.com/embed/{{ page.youtubeLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
          		<div class="d-none d-lg-block d-xl-none"><iframe id="presVideo" width="700" height="392" src="https://www.youtube.com/embed/{{ page.youtubeLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
				<div class="d-none d-md-block d-lg-none"><iframe id="presVideo" width="580" height="324" src="https://www.youtube.com/embed/{{ page.youtubeLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
				<div class="d-none d-sm-block d-md-none"><iframe id="presVideo" width="535" height="300" src="https://www.youtube.com/embed/{{ page.youtubeLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
				<div class="d-block d-sm-none"><iframe id="presVideo" width="300" height="160" src="https://www.youtube.com/embed/{{ page.youtubeLink }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
           {% endif %}
          {{ content }}
          
          {% if nextLevel and nextLevelPath%}
          		<a href="{{ nextLevelPath }}" class="btn btn-success btn-md"><i class="fa fa-arrow-circle-right"></i> Etape Suivante : {{ nextLevel.name }}</a>
          {% endif %}
          </div>          
           
        </main>
        
        {% if page.youtubeLink %}
        
        {% else %}
        <div id="toc" class="col-12 col-md-3 col-xl-3" style="padding-top: 90px;border-left: 1px solid rgba(0, 0, 0, 0.2);position: fixed;right: 0px;">
			  
        </div>
        
        {% endif %}
     	
        
      </div>
    </div>
	
	
	 {% include scripts.html %}
</body>
</html>
