<!doctype html>
<html lang="fr">
<head>{% include header.html %}


</head>
<body>	
	{% include docs-navbar.html %}
	
	<div class="container">
	
		<div class="row">
			<h1 class="text-center" style="margin-bottom: 20px;">Weelgo Academy - Documentation</h1>

			<p class="lead text-center" style="margin-top: 20px;margin-bottom: 30px;">
				Profitez de la documentation de Weelgo pour vous aider dans la conceptualisation et la réalisation de vos projet.
				Au fur et à  mesure des retours d'expériences, nous étoffons notre banque d'étude et la partageons avec vous.
			</p>			
		</div>
		<div class="row">
			
				<div class="col-md-3 col-sm-12 text-center">
					<div class="text-center" style="margin-bottom: 30px;">
						<img class="img-responsive" style="display: inline;" alt="" src="/fr/img/tutorials.png">
					</div>
					<div class="text-center" style="font-size: 23px;">Tutoriels</div>				
				</div>
				<div class="col-md-3 col-sm-12 text-center">
					<div class="text-center" style="margin-bottom: 30px;">
						<a href="https://www.youtube.com/channel/UCMuycYGVWNGFujwwxvW40hw"><img class="img-responsive" style="display: inline;" alt="" src="/fr/img/videos.png"></a>
					</div>
					<div class="text-center" style="font-size: 23px;">Vidéos</div>				
				</div>
				<div class="col-md-3 col-sm-12 text-center">
					<div class="text-center" style="margin-bottom: 30px;">
						<img class="img-responsive" style="display: inline;" alt="" src="/fr/img/studyCase.png">
					</div>
					<div class="text-center" style="font-size: 23px;">Etudes de cas</div>				
				</div>
				<div class="col-md-3 col-sm-12 text-center">
					<div class="text-center" style="margin-bottom: 30px;">
						<img class="img-responsive" style="display: inline;" alt="" src="/fr/img/documentation.png">
					</div>
					<div class="text-center" style="font-size: 23px;">Documentation</div>				
				</div>
			
			</div>
	
	</div>
	
	
	 {% include scripts.html %}
</body>
</html>
