<!doctype html>
<html lang="fr">
<head>{% include header.html %}


</head>
<body>
	{% include docs-navbar.html %}

	<div class="container" style="margin-top: 95px;">

		<div class="row">
			<h1 class="text-center" style="margin-bottom: 20px; width: 100%;">Weelgo Documentation</h1>

			<p class="lead text-center" style="margin-top: 20px; margin-bottom: 10px;">Profitez de la documentation de Weelgo pour vous aider à
				conceptualiser et réaliser vos projets. Au fur et à mesure des retours d'expériences, nous étoffons notre banque d'études et la partageons avec
				vous.</p>
		</div>
		<div class="row">

			 {% for lev1 in site.data.sitemap_fr %}
			 <div class="col-md-3 col-sm-12 text-center">
				<div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
					<img class="img-responsive" style="display: inline;" alt="" src="/fr/img/{{ lev1.thumbnail }}">
				</div>
				<div class="text-center" style="font-size: 23px; margin-bottom: 30px;">{{ lev1.name }}</div>
				
				{% if lev1.sub %}
				<div style="margin-bottom: 10px;">
					{% for lev2 in lev1.sub %} 
						<a href="{{ site.baseurl }}/fr/{{ lev1.path }}/{{ lev2.path }}">{{ lev2.name }}</a><br>
					 {% endfor %}
				</div>
				{% endif %}
				
			</div>			 
			 {% endfor %}
			 
			 
			<div class="col-md-3 col-sm-12 text-center">
				<div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
					<img class="img-responsive" style="display: inline;" alt="" src="/fr/img/tutorials.png">
				</div>
				<div class="text-center" style="font-size: 23px; margin-bottom: 30px;">Tutoriels</div>
				<div style="margin-bottom: 10px;">
					<a href="tutoriels/creationReseau_etp1_modelisation">Créer un réseau</a><br> <a href="tutoriels/suiviProjet_etp1_suiviPlanningEtAvancement">Gérez un projet Weelgo</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 text-center">
				<div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
					<a href="https://www.youtube.com/channel/UCMuycYGVWNGFujwwxvW40hw"><img class="img-responsive" style="display: inline;" alt=""
						src="/fr/img/videos.png"></a>
				</div>
				<div class="text-center" style="font-size: 23px; margin-bottom: 30px;">Vidéos</div>
				<div style="margin-bottom: 10px;">
					<a href="https://www.youtube.com/watch?v=gPFzQDd73jc">Aperçu 360°</a><br> <a href="https://www.youtube.com/watch?v=z8WjuIl3h2g">Création
						d'un réseau Weelgo</a><br> <a href="https://www.youtube.com/watch?v=z8WjuIl3h2g">Planning : recadrage automatique</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 text-center">
				<div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
					<img class="img-responsive" style="display: inline;" alt="" src="/fr/img/studyCase.png">
				</div>
				<div class="text-center" style="font-size: 23px; margin-bottom: 30px;">Etudes de cas</div>
				<div style="margin-bottom: 10px;">
					<a href="tutoriels/weelgoAgile">Weelgo en Agile</a><br> <a href="tutoriels/weelgoSolo">Weelgo en Solo</a>
				</div>
			</div>
			<div class="col-md-3 col-sm-12 text-center">
				<div class="text-center" style="margin-top: 30px; margin-bottom: 30px;">
					<img class="img-responsive" style="display: inline;" alt="" src="/fr/img/documentation.png">
				</div>
				<div class="text-center" style="font-size: 23px;">Documentation</div>
			</div>

		</div>

	</div>


	{% include scripts.html %}
</body>
</html>
